{% block body %}
    <h1>Nouvel article</h1>

    <p>Bonjour {{ user.lastname }},</p>

    <p>Vous pouvez retrouver notre artcile ici : <a href="http://127.0.0.1:8080/member/article/{{article.id}}">{{article.title}}</a></p>
{% endblock %}