{% extends 'base.html.twig' %}

{% block title %}Nouvelle formation{% endblock %}

{% block body %}
    <h1>Créer une nouvelle formation</h1>

    {{ include('formation/admin/_form.html.twig') }}

    <a href="{{ path('back_formation_index') }}">back to list</a>
{% endblock %}
