{% extends 'base-back.html.twig' %}

{% block title %}Nouvelle formation{% endblock %}

{% block body %}
    <h1 class="text-3xl text-black flex flex-wrap -mx-3 px-3 gap-2">Nouvelle formation</h1>

    {{ include('formation/admin/_form.html.twig') }}

    <a class="text-md text-black flex flex-wrap -mx-3 px-3 gap-2" href="{{ path('back_formation_index') }}">Retour</a>
{% endblock %}
