{% extends 'base.html.twig' %}

{% block title %}New Video{% endblock %}

{% block body %}
    <h1>Mes centres d'intérêt</h1>

    {{ include('front/ci/_form.html.twig') }}

    <a href="{{ path('front_default_index') }}">back to list</a>
{% endblock %}
