{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

{% block javascripts %}
<script>
    console.log(document.querySelector( '#chapter_content' ));
    ClassicEditor
        .create( document.querySelector( '#chapter_content' ) )
        .catch( error => {
            console.error( error );
        } );
</script>
{% endblock %}
