{% extends 'base-back.html.twig' %}

{% block title %}Edit Chapter{% endblock %}

{% block body %}
    <h1 class="text-3xl text-black flex flex-wrap -mx-3 px-3 gap-2">Modifier le chapitre</h1>

    {{ include('chapter/admin/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="flex flex-wrap -mx-3 px-3 gap-2">
        <a href="{{ path('back_formation_show', {'id': formation.id}) }}">Retour</a>
    </div>
{% endblock %}
