{% extends 'base-front.html.twig' %}

{% block title %}New Visite{% endblock %}

{% block body %}
    <div class="space-y-10">
        <h1 class="text-3xl text-center mt-10">Enregistrer une nouvelle visite</h1>

        <div class="ml-10 pl-72">
            <a class="p-4 rounded-lg border-gray-500 border border-solid bg-blue-500 text-white mt-10" href="{{ path('front_default_index') }}"> < Retour</a>
        </div>

        {{ include('front/visite/_form.html.twig') }}
    </div>

{% endblock %}
