{% extends 'base.html.twig' %}

{% block title %}Nos formations{% endblock %}

{% block body %}
    <h1 class="text-2xl">Les formations Jaji</h1>

    {% for formation in formations %}
    <a href="{{ path('front_formation_show', {'id': formation.id}) }}">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ formation.title }}</h5>
                <p class="card-text">{{ formation.description }}</p>
                <p class="card-text">{{ formation.duration }} heures</p>
            </div>
        </div>
    </a>
    {% endfor %}


{% endblock %}