{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
    <h1>Modifier mon profil</h1>

    {{ include('back/user/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('back_default_index') }}">Retour</a>
{% endblock %}
